# Introduccion a Phyton ⚾

1.  **Objetos:** Números, strings, listas, conjuntos, arreglos (vectores y/o matrices), diccionarios (crear bases de datos), DataFrames.
2.   Atributos de objetos.

Hay funciones que estan escritas (Built-in) dentro de Python:

*   suma(+), resta(-), Multiplicacion( * ), LateX(**), etc.
*   `type` (contesta a la pregunta: ¿que tipo de objeto estas representando?), `print` (imprimir objetos, es decir leer codigo).

In [1]:
type((7,3))

tuple

In [2]:
5+2, 5-2, 5*2, 5**2

(7, 3, 10, 25)

In [3]:
print(5+2)
print(5-2)
print(5*2)
print(5**2)

7
3
10
25

In [4]:
type(print("Hola mundo!"))

Hola mundo!

NoneType

In [5]:
type("Hola mundo!")

str

In [6]:
type(1.0), type(1),

(float, int)

Una variable es una forma de nombrar y guardad a un objeto.

In [7]:
# Creando dos variables x , y que son int

x = 5
y = 2

In [8]:
# De esta forma, podemos realizar las operaciones antes dadas

print(f"Las operaciones anteriores son: {x+y}, {x-y}, {x*y}, {x**y}")

Las operaciones anteriores son: 7, 3, 10, 25

# **Listas **


* Una lista en python es un contenedor de objetos

In [9]:
# Hay que tener cuidado con el nombre de las variables.
# Vamos a crear una lista
Renata_1 = [7, 15, "Diego", "azul"]
Mar_2 = []

In [10]:
print(Renata_1)

[7, 15, 'Diego', 'azul']

In [11]:
print(Mar_2)

[]

In [12]:
Mar_2.append(16)
Mar_2

[16]